@use 'variables' as *;
@use 'mixins';

.basket {
    @include mixins.flex(column);
    gap: 2rem;
    height: 100%;
    position: relative;

    &__list {
        padding: 0;
        margin: 0;
        flex-grow: 1;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 9px;
        }

        &::-webkit-scrollbar-track {
            background: $primaryLight;
        }

        &::-webkit-scrollbar-thumb {
            background: $primary;
            border-radius: 6px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: darken($primary, 10%);
        }
    }

    &__item {
        border-bottom: 1px solid $primary;
        padding: 1.5rem 0;

        &:last-child {
            margin-bottom: 60px;
        }

        &-index {
            @include mixins.flex(row);
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            background-color: $primary;
            color: white;
            margin-right: 1rem;
        }

        &-delete {
            @include mixins.icon(2rem, 'trash');
            @include mixins.link($hover, white);
            opacity: 0.5;
            margin-left: 3rem;
			margin-right: 1rem;
        }
    }
}

.modal__actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($background, 0.9);
    padding: 20px 0;
}
