@use 'variables' as *;

html,
body.page {
	height: 100%;
	font-family: $font;
	font-size: $baseFontSize;
	color: $baseFontColor;
	background: $background;

	&::-webkit-scrollbar {
		width: 9px;
	}

	&::-webkit-scrollbar-track {
		background: $primaryLight;
	}

	&::-webkit-scrollbar-thumb {
		background: $primary;
		border-radius: 6px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: darken($primary, 10%);
	}
}

.page__wrapper {
	width: 100%;

	&_locked {
		position: fixed;
	}
}
